@import 'reset';
@import 'fonts';
@import 'base';
@import 'icons';

h1 {
  font-family: 'ZeitungMonoPro-Bold';
  font-size: 90px;
  margin-top: 0;
}

.step-1 {
  margin: 20px 0;
}

.step-2 {
  margin: 20px 0;
}

.launch-screen {
  a {
    color: #FFF;
    text-align: left;
    text-decoration: none;
    display: inline-block;
  }
  .link {
    margin: 0 20px;
  }
}

.video-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  video {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.nav {
  display: flex;
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  align-items: flex-end;
  justify-content: space-between;
  text-align: center;
  width: 1200px;
}
